# ==========================
# Core
# ==========================

numpy==2.3.1
pandas==2.3.1
scipy==1.16.0

# ==========================
# Machine Learning
# ==========================

scikit-learn==1.7.1
xgboost==3.0.3
imbalanced-learn==0.14.0
joblib==1.5.1

# ==========================
# Visualization
# ==========================

matplotlib==3.10.5
seaborn==0.13.2

# ==========================
# Configuration
# ==========================

PyYAML==6.0.2

# ==========================
# Excel
# ==========================

openpyxl==3.1.5

# ==========================
# API
# ==========================

fastapi==0.116.1
uvicorn==0.35.0

# ==========================
# Validation
# ==========================

pydantic==2.11.7

# ==========================
# Logging
# ==========================

colorlog==6.9.0

# ==========================
# Environment Variables
# ==========================

python-dotenv==1.1.1

# ==========================
# Progress Bar
# ==========================

tqdm==4.67.1

# ==========================
# Testing
# ==========================

pytest==8.4.1

# ==========================
# Code Formatter
# ==========================

black==25.1.0
isort==6.0.1

# ==========================
# Linting
# ==========================

flake8==7.3.0

# ==========================
# MLOps & Tracking
# ==========================

mlflow==3.14.0